@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh; /* Garante que o body ocupe pelo menos a altura da viewport */
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: rgb(252, 252, 252);
   
    }

    .top-header h1 {
        margin: 10px; /* Remove a margem padrão do h1 */
        font-size: 24px; /* Ajusta o tamanho da fonte */
        color: #175fcc; /* Cor do texto */
        width: 100%;
        text-align: center; /* Centraliza o texto dentro do h1 */
       
    }

    .header-content {
        display: flex;
        align-items: center;
        flex-grow: 3; /* Preenche o espaço restante */
    }

    .top-header {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 8px 218px 10px 15px;
        background-color:#f8f8f8;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }


/* Altera a cor do botão quando passado o mouse */
button:hover {
    background-color: #054e3c;
    transition: background-color 0.3s ease;
}

h2{
    padding: 8px;
    font-family: 'Outfit', sans-serif;
    margin: 5px; /* Remove a margem padrão do h1 */
    font-size: 24px; /* Ajusta o tamanho da fonte */
    color: #0a449b; /* Cor do texto */
    width: 100%;
    text-align: center; /* Centraliza o texto dentro do h1 */ 
}

   
/* Estilização do botão */
button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #2D5966;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
    margin-right: 35px;
    transition: background-color 0.3s ease;
    background-position: right;
}

.buttons-container {
    display:block;
    justify-content: center;
    align-items: center;
    flex-direction:row;
   
}

.btn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row; /* Se os botões estiverem empilhados verticalmente */
    transition: background-color 0.3s ease;
    
   
}
.form-doc{
    display: flex;
    flex-direction: column; /* Muda a direção para linha */
    align-items:baseline; /* Centraliza os itens verticalmente */
    justify-content:flex-start; /* Alinha os itens à direita */
    width: 45%;
    margin-bottom: -3px; /* Mantém algum espaçamento entre os grupos */
    font-size: 17px;
    color: #000000;
}
.form-outer {
    display: block;
    flex-direction: row; /* Muda a direção para linha */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content:right; /* Alinha os itens à direita */
    width: 90%;
    margin-bottom: -10px; /* Mantém algum espaçamento entre os grupos */
    font-size: 17px;
    color: #000000;

}

.form-cons {
    display: block;
    flex-direction: row; /* Muda a direção para linha */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content:right; /* Alinha os itens à direita */
    width: 100%;
    margin-bottom: 12px; /* Mantém algum espaçamento entre os grupos */
    font-size: 17px;
    color: #000000;

}

.input-container {
    display: block;
    justify-content:center; /* Alinha os itens à direita dentro do contêiner */
    width: 100%;
}

.form-outer input{
    display: block;
    width: 85%; /* Define a largura dos inputs para 80% da largura do contêiner pai */
    padding: 6px; /* Aumenta o tamanho interno dos inputs para facilitar a digitação */
    font-size: 14px; /* Define o tamanho da fonte dentro dos inputs */
    border: 1px solid #ccc; /* Adiciona uma borda suave ao redor dos inputs */
    border-radius: 4px; /* Arredonda as bordas dos inputs para um visual mais agradável */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura definida */
    margin-bottom: 10px; /* Adiciona algum espaço abaixo de cada input */
}

/* Estilização geral para o elemento select */
.form-cons select {
    font-size: 18px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #0e0d0d;
    outline: none;
    width: 50%;
}

/* Fazendo com que as opções estejam sempre em letras maiúsculas */
.form-cons select option {
    transform: uppercase;
}

fieldset {
    border:#000000;
    padding: 10px;
    width: 110%;
    background-color: #e0e0e0;
    display: flex; /* Usa Flexbox para alinhamento */
    /*flex-direction:column; /* Organiza os filhos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items:baseline; /* Centraliza horizontalmente */
    color: #080808;
    border-radius: 2px;
    font-size: 17px;
   
}

legend {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 97%;
    padding: 6px; /* Aumenta o padding para melhorar a usabilidade */
    font-size: 19px; /* Define o tamanho da fonte */
    border: 1px solid #ccc; /* Define a cor e espessura da borda */
    border-radius: 4px; /* Arredonda as bordas para um visual mais agradável */
    background-color: #ffffff; /* Define a cor de fundo */
    color: #000000; /* Define a cor do texto */
    outline: none; /* Remove o foco por defeito */
}

input[type="date"] {
    width: 40%;
    padding: 6px; /* Aumenta o padding para melhorar a usabilidade */
    font-size: 19px; /* Define o tamanho da fonte */
    border: 1px solid #ccc; /* Define a cor e espessura da borda */
    border-radius: 4px; /* Arredonda as bordas para um visual mais agradável */
    background-color: #f9f9f9; /* Define a cor de fundo */
    color: #333; /* Define a cor do texto */
    outline: none; /* Remove o foco por defeito */
}

/* Altera a cor do texto quando o campo está focado */
input[type="date"]:focus {
    border-color: #2D5966; /* Cor da borda quando focado */
    background-color: #e9e9e9; /* Cor de fundo quando focado */
}

.gnero-checkbox + label {
    display: inline-flex; /* Faz com que a label se comporte como um item flexível */
    align-items: center; /* Centraliza os itens verticalmente dentro da label */
    margin-right: 15px; /* Adiciona um pouco de espaço à direita do checkbox */
}

.gnero-options {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    gap: 15px; /* Espaçamento entre os itens */
}

.horizontal-fieldset {
    display: flex;
    flex-direction:row;
    justify-content: center;
  
}

.field-group {
    display: block;
    flex-direction: column; /* Organiza a label acima do input */
    width: 103%; /* Ajusta a largura para ocupar metade do espaço disponível, subtraindo algum espaço para margens */
    margin-bottom: 10px; /* Adiciona espaço entre os grupos de campos */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.field-group input{
    margin-bottom: 4px;
    width: 37%;
}

.field-group label{
        font-size: 14px;
}

@media (max-width: 600px) {
    nav, header, footer {
        padding: 10px;
    }

    main {
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    nav, header, footer {
        padding: 15px;
    }

    main {
        padding: 15px;
    }
}

.botao-abrir-link {
    display: inline-flex;
    padding: 11px 29px;
    background-color: #f52b08;
    color: #fff;
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor de fundo */
    font-size: 18px;
}

.botao-abrir-link:hover {
    background-color: #5f0505; /* Cor de fundo ao passar o mouse */
}

footer {
    background-color: #175fcc;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.botao-abrir-link:hover {
    background-color: #5f0505; /* Cor de fundo ao passar o mouse */
}
